.location-card-item{
    max-width: 320px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
}
.location-card-item h3{

    text-align: center;
}

.location-card-item{
    border:1px solid black;
    width: 100%;
}