.search-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.search{
    z-index: 5;
    position: relative;
}
.search-result-block{
    position: absolute;
    top: 45px;
    left: 40px;
     max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll ;
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
    background: #ffffff;
    border-radius: 20px;
}

.search-result-block::-webkit-scrollbar {
    display: none;
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 35px;
}
.search{
    height: 45px;
    width: 340px;
    border-radius: 50px;
    padding: 0 0 0 15px;
    background-color:#FAFAFA;
    border: 1px solid #E5E5E5;
    margin: 0 0 0 25px;
}
.search:focus{
    border: 1px solid black;
    background-color: white;
 }

.search-btn{
    background-color: #8591a5;
    border-radius: 50px;
    height: 45px;
    width: 87px;
    color: #FFF;
    font-weight: 600;
    font-size: 14px;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.search-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 320px;
    box-sizing: border-box;
    padding: 5px 0 5px 12px;
    height: 45px;
}
.search-card:hover{
    background: #8692A6;
    color: #fff;
    cursor: pointer;
 }

.search-card img {
    max-width: 28px;
    border-radius: 50%;
    margin-right: 5px;
}
.search-card span {
    margin-right: 5px;
    width: 50px;

}
.delete-search-text{
    position: absolute;
    width: 20px;
}

.delete-block{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 100px;
}

.characters-block{
    display: flex;
    align-items: center;
    justify-content: center;
}
.characters-block img{
    width: 35px;
}
.characters-block p{
    margin: 0 0 0 10px;
}