@font-face {
  font-family: 'Poppins-Bold';
  src: url('./fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('./fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('./fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('./fonts/Poppins-ExtraBold.ttf');
}

body {
  margin: 0;
  font-family: 'Poppins-Regular', sans-serif;
  color: #696F79;
  /*background: #FBF9F9;*/
  background: #edebeb;
  backdrop-filter: blur(12.307092666625977px);

}

li{
  list-style: none;
}
ul{
  padding: 0;
}
a{
  text-decoration: none;
  font-size: 27px;
  color: #696F79;
}
button{
  cursor: pointer;
  background: none;
  appearance: none;
  outline: none;
  border: none;
}
