
body {
  margin: 0;
  font-family: 'Alumni Sans Collegiate One', sans-serif;
}

li{
  list-style: none;
}
ul{
  padding: 0;
}
a{
  text-decoration: none;
  font-size: 27px;
}
button{
  cursor: pointer;
  background: none;
  appearance: none;
  outline: none;
  border: none;
}